<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{#if_eq page 'home'}}active{{/if_eq}}" aria-current="page" href="/">Home</a>
        </li> <li class="nav-item">
          <a class="nav-link {{#if_eq page 'keepa_upload'}}active{{/if_eq}}" href="/keepa">Upload Keepa CSV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if_eq page 'list'}}active{{/if_eq}}" href="/list">List</a>
        </li>
       
        <!-- NEW LINK FOR WHOLESALE UPLOAD -->
        <li class="nav-item">
          <a class="nav-link {{#if_eq page 'wholesale_upload'}}active{{/if_eq}}" href="/wholesale">Upload Wholesale CSV</a>
        </li>
           <!-- NEW LINK FOR WHOLESALE LIST -->
    <li class="nav-item">
      <a class="nav-link {{#if_eq page 'wholesale_list'}}active{{/if_eq}}" href="/wholesale-list">Wholesale Data List</a>
    </li>
        
        <li class="nav-item">
          <form action="/logout" method="POST" class="d-inline">
            <input type="submit" value="Logout" class="btn btn-link nav-link">
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>