<form action="/add" method="POST">
    <p>Nome</p>
    <input type="text" name="nome"> 
    <p>Idade</p>
    <input type="text" name="idade" maxlength="2" ><br>
    <button type="submit">Cadastro Aluno</button>
</form>